{% extends 'reqapp/base.html' %}

{% block title %}User BIO{% endblock %}

{% block body %}
    <h1>User BIO</h1>

    {% if request.POST %}
    <p>Name: {{ request.POST.name }} </p>
    <p>Age: {{ request.POST.age }} </p>
    <p>Bio: {{ request.POST.bio|linebreaks }} </p>
    <p>File: {{ request.FILES.avatar }} </p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}