version: '3.9'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
    env_file:
      - .env
    volumes:
      - ./:/app
      - ./static:/app/static_src
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: