asgiref==3.9.2
Django==5.2.7
djangorestframework==3.16.1
freezegun==1.5.5
iniconfig==2.3.0
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
psycopg==3.2.10
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
