{% extends 'base/index.html' %}
{% load static %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
    <main class="cart-page-wrapper">
  <div class="cart-container">
    <h1 class="cart-title">Shopping Cart</h1>

    {% if cart_len %}
    <div class="cart-items-list" id="cart-items-list">
      {% for p in cart.items %}
      <div class="cart-item">
      <img src="{{ p.product.image.url }}" alt="{{ p.product.name }}" class="cart-item__image">
        <div class="cart-item__body">
          <div class="cart-item__details">
            <h2 class="cart-item__name">{{ p.product.name }}</h2>
            <div class="cart-item__price-info">
              <p class="cart-item__price">${{ p.total_price }}</p>
              <span class="cart-item__price-tag">{{ p.product.unit }}</span>
            </div>
          </div>
            <form action="{% url 'orders:cart' %}" method="post" class="cart-item__actions">
                {% csrf_token %}
                <input hidden="hidden" name="product_id" value="{{ p.product.pk }}">
                <input hidden="hidden" name="next_page" value="orders:cart">
                <div class="cart-item__quantity-selector">
                  <button
                      class="quantity-btn-cart"
                      type="submit"
                      name="action"
                      value="dec"
                  >
                      <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="quantity-value-cart">{{ p.qty }}</span>
                  <button
                      class="quantity-btn-cart"
                      type="submit"
                      name="action"
                      value="inc"
                  >
                      <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <button
                    class="button--remove"
                    type="submit"
                    name="action"
                    value="del"
                >
                  Remove <i class="fa-solid fa-xmark"></i>
                </button>
        </form>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="cart-summary">
      <div class="cart-summary__total">
        <p>Total</p>
        <p id="cart-total-price">${{ cart.get_total_price }}</p>
      </div>
      <a href="{% url 'orders:checkout' %}" class="button button--primary button--checkout">Proceed to Checkout</a>
    </div>
    {% else %}
        <div class="empty">Cart is empty</div>
    {% endif %}

  </div>
</main>
{% endblock %}