{% extends 'base/index.html' %}

{% block title %}Order Details{% endblock %}

{% block body %}
    <main class="checkout-page-wrapper">
    <div class="checkout-container">
        <h1 class="checkout-title">Order Details</h1>

        <form class="checkout-form" method="post">
            {% csrf_token %}
            <section class="checkout-section mb-3">
                <h2 class="checkout-section__title">Shipping information</h2>
                {% for error in form.non_field_errors %}
                  <div class="error">{{ error }}</div>
                {% endfor %}
                <div class="checkout-form-group">
                    <label for="full-name">Full Name</label>
                    <input
                        type="text"
                        id="full-name"
                        class="Input"
                        value="{{ user.first_name }} {{ user.last_name }}"
                        readonly>
                </div>
                <div class="checkout-form-group">
                    <label for="phone">{{ form.phone.label }}</label>
                    {{ form.phone }}
                </div>
                <div class="checkout-form-group">
                    <label for="city">{{ form.city.label }}</label>
                    {{ form.city }}
                </div>
                <div class="checkout-form-group">
                    <label for="address">{{ form.address.label }}</label>
                    {{ form.address }}
                </div>
            </section>
            <!-- Payment Method -->
            <section class="checkout-section mb-3">
                <h2 class="checkout-section__title">Payment Method</h2>
                <div class="payment-options">
                    {% for r in form.method %}
                    <label class="radio-option">
                        {{ r.tag }}
                        <span class="radio-custom"></span>
                        <span class="radio-label">{{ r.choice_label }}</span>
                    </label>
                    {% endfor %}
                </div>
            </section>
            <!-- Order Summary -->
            <section class="checkout-summary">
                <h2 class="checkout-section__title">Order Summary</h2>
                <div class="summary-details">
                    <div class="summary-total">
                        <p>Total</p>
                        <p>${{ cart.get_total_price }}</p>
                    </div>
                    <button type="submit" class="button button--primary button--pay">Pay</button>
                </div>
            </section>
        </form>
    </div>
</main>
{% endblock %}