{% extends 'base/index.html' %}
{% load static %}

{% block title %}Forget password{% endblock %}

{% block body %}
    <main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static '/img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
      <form class="auth-form" id="forgot-password-form" method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="InputField InputFieldForgot">
          <label for="email">{{ form.email.label_tag }}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="ButtonGroup ButtonGroup--center">
          <a href="{% url 'login' %}" class="button button--cancel">Cancel</a>
          <button type="submit" class="button button--primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}