{% extends 'base/index.html' %}
{% load static %}

{% block title %}Forget password{% endblock %}

{% block body %}
    <main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static '/img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
        <h1>Задать новый пароль</h1>
        {% if validlink %}
          <form class="auth-form" id="forgot-password-form" method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
            <div class="InputField InputFieldForgot">
              <label for="email">{{ form.new_password1.label_tag }}</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="InputField InputFieldForgot">
              <label for="email">{{ form.new_password2.label_tag }}</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <div class="ButtonGroup ButtonGroup--center">
              <a href="{% url 'accounts:login' %}" class="button button--cancel">Cancel</a>
              <button type="submit" class="button button--primary">Save password</button>
            </div>
          </form>
        {% else %}
            <p>Ссылка недействительна или истекла. Пожалуйста, запросите сброс снова.</p>
        {% endif %}
    </div>
  </div>
</main>
{% endblock %}