{% extends 'base/index.html' %}
{% load static %}

{% block title %}Forget password{% endblock %}

{% block body %}
    <main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static '/img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
        <h1>Письмо отправлено</h1>
        <p>Если в нашей системе есть аккаунт с указанным e-mail, вы получите инструкцию по сбросу пароля.</p>
    </div>
  </div>
</main>
{% endblock %}