{% extends 'base/index.html' %}
{% load static %}

{% block title %}Forget password{% endblock %}

{% block body %}
    <main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static '/img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
  <h1>Пароль изменён</h1>
  <p>Пароль успешно обновлён. Вы можете <a href="{% url 'login' %}">войти</a> с новым паролем.</p>
    </div>
  </div>
</main>
{% endblock %}