{% extends 'base/index.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block body %}
    <main class="auth-page-wrapper">
    <div class="auth-background">
        <img src="{% static '/img/background/pattern.jpg' %}" alt="Background pattern">
    </div>
    <div class="auth-form-container">
        <div class="auth-container auth-container--register">
            <div class="Legend">
                <h1 class="auth-title">Register</h1>
            </div>

            <form class="auth-form" id="register-form" method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                  <div class="error">{{ error }}</div>
                {% endfor %}

                <div class="InputField">
                  <label for="username">Login</label>
                  {{ form.username }}
                </div>
                <div class="InputField">
                  <label for="email">Email</label>
                  {{ form.email }}
                </div>
                <div class="InputField">
                  <label for="password1">Password</label>
                  {{ form.password1 }}
                </div>
                <div class="InputField">
                  <label for="password2">Confirm Password</label>
                  {{ form.password2 }}
                </div>

                <div class="ButtonGroup">
                    <button type="submit" class="button button--primary">Register</button>
                </div>
            </form>

            <p class="auth-switch">Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></p>
        </div>
    </div>
</main>
{% endblock %}