{% extends 'shopapp/base.html' %}

{% block title %}Product details{% endblock %}

{% block body %}
<h1>Product #{{ product.pk }}:</h1>
    <div><a href="{% url 'shopapp:product_form' %}">Add new</a></div>
    <div><a href="{% url 'shopapp:product_list' %}">To list</a></div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}$</td>
                <td>{% firstof product.discount '---' %}</td>
                <td>{{ product.created_at }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}