{% extends 'shopapp/base.html' %}

{% block title %}Products list{% endblock %}

{% block body %}
<h1>Products:</h1>
    <div><a href="{% url 'shopapp:product_form' %}">Add new</a></div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Date</th>
        </tr>
        </thead>
    {% for g in list %}
        <tbody>
            <tr>
                <td>{{ g.name }}</td>
                <td>{{ g.price }}$</td>
                <td>{% firstof g.discount '---' %}</td>
                <td>{{ g.created_at }}</td>
            </tr>
        </tbody>
    {% empty %}
        List is empty
    {% endfor %}
    </table>
{% endblock %}