{% extends 'base/index.html' %}

{% block title %}Edit category{% endblock %}

{% block body %}
    <main class="admin-page-wrapper">
    <div class="admin-container">
        <!-- Tabs Navigation -->
        <div class="admin-tabs">
            <a href="{% url 'management:management-products' %}" class="admin-tab">Product Management</a>
            <a href="{% url 'management:management-categories' %}" class="admin-tab active">Category Management</a>
            <a href="{% url 'management:management' %}" class="admin-tab">Dashboard</a>
        </div>

        <!-- Content Area -->
        <div class="admin-content">
            <h1 class="admin-content__title">Admin - Edit category</h1>

            <div class="admin-form-layout">
                <div class="admin-form-col-right">
                    <h2 class="admin-form-section-title">Information</h2>
                    <form id="category-form" class="product-info-form" method="post">
                        {% csrf_token %}

                        <div class="checkout-form-group">
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="error">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="checkout-form-group">
                            <label for="{{ form.parent.id_for_label }}">Parent</label>
                            {{ form.parent }}
                            {% if form.parent.errors %}
                                <div class="error">{{ form.parent.errors }}</div>
                            {% endif %}
                        </div>
                    </form>
                </div>

                <!-- Control buttons -->
                <div class="admin-form-actions">
                    <button type="submit" form="category-form" class="button button--primary">Save</button>
                    <form method="post" action="{% url 'management:management-delete-category' pk %}">
                        {% csrf_token %}
                        <button type="submit" class="button button--danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}