{% extends 'base/index.html' %}

{% block title %}Admin - Categories{% endblock %}

{% block body %}
    <main class="admin-page-wrapper">
  <div class="admin-container">
    <!-- Tabs Navigation -->
        <div class="admin-tabs">
            <a href="{% url 'management:management-products' %}" class="admin-tab">Products</a>
            <a href="{% url 'management:management-categories' %}" class="admin-tab active">Categories</a>
            <a href="{% url 'management:management-users' %}" class="admin-tab">Users</a>
            <a href="{% url 'management:management-reviews' %}" class="admin-tab">Reviews</a>
            <a href="{% url 'management:management' %}" class="admin-tab">Dashboard</a>
        </div>

    <!-- Content Area -->
    <div class="admin-content">
      <h1 class="admin-content__title">Admin - Categories</h1>
      <div class="admin-actions">
        <a href="{% url 'management:management-add-category' %}" class="button button--primary">
          <i class="fa-solid fa-plus"></i>
          <span>Add Category</span>
        </a>
      </div>

      <div class="admin-table-wrapper">
        {% if page_obj %}
        <table class="admin-table">
          <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>slug</th>
            <th>parent</th>
            <th>created_at</th>
            <th>updated_at</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for c in page_obj %}
          <tr>
            <td>{{ c.pk }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.slug }}</td>
            <td>{{ c.parent.name }}</td>
            <td>{{ c.created_at }}</td>
            <td>{{ c.updated_at }}</td>
            <td><a href="{% url 'management:management-category' c.slug %}" class="button button--edit">Edit</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
            <div class="empty_list">List categories is empty</div>
        {% endif %}
      </div>

      <!-- Pagination -->
    {% if page_obj.has_previous or page_obj.has_next %}
      <div class="account-pagination">
        <a
            href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}"
            class="pagination-link-account {% if not page_obj.has_previous %}disabled{% endif %}"
            {% if not page_obj.has_previous %}disabled{% endif %}
        >← Previous</a>
        <a
            href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
            class="pagination-link-account {% if not page_obj.has_next %}disabled{% endif %}"
            {% if not page_obj.has_next %}disabled{% endif %}
        >Next →</a>
      </div>
    {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}